@CHARSET "ISO-8859-1";

h1, h2, h3, h4, h5, h6 {
	color: var(main-theme-dark-text-h);
}

/* Custom CITY CSS
 * --------------------------------------- */

p {
	font-size: 100%;
}

.cities_head {
    padding: 95px 0px 45px;
}

.p_img {
	height: -webkit-fill-available;
	max-width: 100%;
	display: block;
}





.spaced_f {
	padding-bottom: 75px;
}

.spacer_f30_b {
    padding-bottom: 30px;
}

.txtDesc_general {
    height: 260px;
    margin: 80px 0 40px;
}

.txtDesc_general div p {
	font-size: 13px;
	margin-left: 20px;
	color: var(--main-theme-color1-text-gray);
}

.txtDesc_general img {
	width: 400px;
	height: 260px;
	display: inline-block;
	float: right;
}

.artisans_h_cont h1 {
	font-size: 40px;
	font-weight: bolder;
	margin-bottom: 10px;
}
.artisans_h_cont h2 {
	font-size: 21px;
	color: var(--main-theme-color1-text-gray);
	font-weight: lighter;
}

/*CARD*/
.card {
	background: #FFFFFF;
    border-radius: 10px;
    display: inline-block;
    margin-right: 30px;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
}
.card:hover {
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}

.card p {
	font-size: 12px;
}

.card .goto-btn {
	width: 97px;
    padding: 0;
    height: 30px;
}

.card-header {
    background-color: transparent; 
}

.artisans_main_cont img {
    height: 50px;
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
}

img[class*="avatar-"] {
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	margin-right: 6px;
	margin-left: -15px;
}

.user_cont {
	display: inline-block;
}
.user_data {
	display: inline-block;
	vertical-align: top;
    margin: 5px 0;
}

.card-avatar-img {
    position: relative;
    width: calc(100% + 30px);
    height: 160px;
    background-size: cover;
    padding: 0;
}

.artisans_main_cont {
	width: 100%;
	margin: 0 140px;
	margin-top: 45px;
}

.view_more_artisans {
	margin: 40px auto;
}

.art-name {
	color: #000;
	line-height: 1;
	line-height: 1.5;
}
.art-country {
	color: var(--main-theme-color1-text-gray);
	line-height: 1;
	line-height: 1.5;
}

.cities_header {
	/* background: grey; */
	
	background-position: 0px -170px;
	height: 345px;
	padding: 30px;
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	font-family: var(--main-theme-font-titleH1);
	display: table;
}

.cities_header div {
	display: table-cell;
	vertical-align: middle;
}

.text_cities h2 {
	font-family: var(--main-theme-font-titleH2);
	text-align: center;
	font-size: 27px;
	margin: 0 auto;
}

.col-city-text {
	padding: 30px 65px;
}


/** --- Cities --- */
.main_cities_cont {
	background-color: var(--main-theme-color7);
}

.centered_cards_content {
    padding: 60px 10vw;
    color: white;
}

.centered_cards_content h2 {
	font-family: var(--main-theme-font-titleH2);
    text-align: center;
    font-size: 28px;
    color: white;
    margin: 0 auto;
    padding-bottom: 50px;
}



.cards_cont {
	margin: 8px;
	display: inline;
}
.city_card {
	padding: 0 !important;
	border: none;
	margin-bottom: 50px;
	margin-right: 75px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.city_card_img {
	height: 153px;
	width: auto;

	background-repeat: no-repeat;
    background-size: cover;
}
.city_card_body {
	padding: 12px;
}

.city_card_body h1 {
	color: black;
	font-size: 14px;
	font-family: var(--main-theme-font-titleH2);
	text-align: center;
	text-transform: capitalize;
}
.city_card_body p {
	color: black;
	font-size: 11px;
	font-family: var( --main-theme-font-description);
	color: var(--main-theme-color1-text-gray);
	text-align: justify;
}
.city_card_body a {
	font-size: 10px;
	font-family: var(--main-theme-font-subtitle2);
	color: var(--main-theme-color1-text-gray);
	font-style: italic;
	text-decoration: none;
	float: right;
	padding-bottom: 12px;
}
.city_card_body:hover > a {
	color: black;
}