@CHARSET "ISO-8859-1";

/*HEADER*/
.site-branding {
    margin-top: -5px;
}

h1, h2, h3, h4, h5, h6 {
	color: inherit;
}

/*GENERAL CSS VARS*/
:root {
  --main-theme-color1: #ff7a00;
  --main-theme-color1-hover: #ff5400;
  --main-theme-dark-text-h: #181c28;
}

/* Custom HOME CSS
 * --------------------------------------- */
.goto-btn {
	height: 40px;
	width: 125px; 
	font-size: 12px;
	/*font-weight: bolder;*/
	text-transform: uppercase;
	background: var(--main-theme-color1);
	transition: background .3s ease;
}

.goto-btn:hover {
	background: var(--main-theme-color1-hover);
}

.gobtn_cont {
	text-align: center;
	margin-top: 50px;
}

.hos_breadcums {
    background: white;
    height: 30px;
    width: 301px;
    margin-top: 77px;
    padding: 3px 112vw 3px;
}

.hos_breadcums, .hos_breadcums span, .hos_breadcums a {
    color: rgba(0, 0, 0, .5);
    font-size: 13px;
}
.hos_breadcums a:hover {
    color: rgba(0, 0, 0, .75);
    text-decoration: none;
}

.hos_breadcums a:first-child { 
    padding-left: 10%;
}

.hos_breadcums a:first-child:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f015";
    margin-right: 0.5407911001em;
}

.hos_breadcums .breadcrumb-separator {
    text-indent: -9999px;
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

.hos_breadcums .breadcrumb-separator:after {
	display: block;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f105";
	font-size: 0.875em;
	text-indent: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1em;
	height: 1em;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	opacity: .25;
}