@CHARSET "ISO-8859-1";

h1, h2, h3, h4, h5, h6 {
	color: white;
}

/* Custom HOME CSS
 * --------------------------------------- */
.fp-tableCell {
	vertical-align: top;
}

.intro {
	margin-top: 77px;
}

.home_logo_cont {
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 65px;
}

.home_logo_cont img {
	display: inline-block;
    height: 8rem;
}

.home_logo_cont .logo_iso {
	height: 5.7rem;
    margin-top: 0.5%;
}

.main-home-section h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 60px;
	text-transform: uppercase;
	color: var(--main-theme-color4);
	font-family: var(--main-theme-font-titleH2);
}
.main-home-section h2 {
	margin: 0;
	padding: 0;
	text-align: center; 
	font-size: 28px;
	text-transform: uppercase;
	color: var(--main-theme-color4);
	font-family: var(--main-theme-font-subtitle1);
}

.sub-section h1 {
	color: white;
	font-size: 38px;
	text-transform: uppercase;
	font-weight: normal;
}

.sub-section p {
	color: white;
	font-size: 14px;
	/*font-weight: bold;*/
}

.txtDesc_home {
	text-align: left;
}

.txtDesc_home p {
    color: white;
    font-size: 14px;
    margin: 0;
    margin-right: 34px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
}

.txtDesc_home img {
	width: 335px; 
	height: 185px;
	margin-left: 77px;
}