@CHARSET "ISO-8859-1";

:root {
  
  --main-theme-color1: #ff7a00;
  --main-theme-color1-hover: #ff5400;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
}

/* Custom LOGINOUT CSS
 * --------------------------------------- */

p {
	/*font-family: var(--main-theme-font-description);*/
	font-family: "Source Sans Pro",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 16px;
	font-size: 100%;
}

html { 
  background: linear-gradient(rgba(43, 46, 55, .5), rgba(43, 46, 55, .5)), url('https://lh3.google.com/u/0/d/1ify2VBu_blqBGZ76K4klJOrsMFmPNPSf=w1366-h662-iv1') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    background-color: transparent;
}

div[id^="post-"], #primary, #main {
    margin: 0;
}

.hos_breadcums {
	display: none;
}

.login-maincont {
	margin: 0 auto;
	margin-top: 125px;
	padding: 30px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.tml .message {
    border: 1px solid #28a745;
    background-color: #53ff1866;
}

.tml p {
    margin: 0 0 .5em 0;
    font-size: 100%;
}

.goto-btn {
	height: 40px;
	width: 125px; 
	font-size: 12px;
	/*font-weight: bolder;*/
	text-transform: uppercase;
	background: var(--main-theme-color1) !important;
	transition: background .3s ease;
}

.goto-btn:hover {
	background: var(--main-theme-color1-hover) !important;
}

.um-form.top-space {
	margin-top: 100px;
	
}

/*REGISTER*/
.um-register-custom {
	max-width: 100% !important;
}

.um-register-custom {
	max-width: 100% !important;
}

.um-register-custom .um-form {
	background: white;
	padding: 20px;
}

.um-register-custom .um-form form {
	margin-bottom: 0;
}

.um-field.col-md-5 {
	display: inline-block !important;
}

.custom-field-cont {
    margin: 0 2vw;
}


/*LOGIN*/
.um-login-custom {

}
.um-login-custom .um-form {
	background: white;
	padding: 30px;
	margin-top: 22vh;
}

.um-login-custom form {
	margin-bottom: 0;
}


/*RECOVER PASSWORD*/
.um-password-custom {

}

.um-password-custom .um-form {
	background: white;
	padding: 30px;
	margin-top: 30vh;
}


.um-password-custom .um-center {
	display: inline-block;
	margin: 0 auto;
}

.um-password-custom form {
	margin-bottom: 0;
	text-align: center;
}



/*GO BTN*/

.goto-btn {
	height: 40px !important;
	width: 125px !important; 
	font-size: 15px !important;
	text-transform: uppercase !important;
	background: var(--main-theme-color1) !important;
	transition: background .3s ease !important;
	border: 0;
    
    
    color: #fff !important;
    cursor: pointer !important;
    padding: .6180469716em 1.41575em !important;
    text-decoration: none !important;
    font-weight: 600 !important;
    text-shadow: none !important;
    display: inline-block !important;
    outline: 0;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 0 !important;
}

.goto-btn:hover {
	background: var(--main-theme-color1-hover) !important;
}

.gobtn_cont {
	text-align: center !important;
	margin-top: 50px !important;
}

input[type=submit].goto-btn {
    float: right;
}
a.goto-btn {
    height: 50px !important;
}