@CHARSET "ISO-8859-1";

h1, h2, h3, h4, h5, h6 {
	color: var(main-theme-dark-text-h);
}

/* Custom CITY CSS
 * --------------------------------------- */

p {
	font-size: 100%;
}

#main {
	width: 77vw !important;
    margin: 0 auto;
    padding: 26px;
}