@CHARSET "ISO-8859-1";

h1, h2, h3, h4, h5, h6 {
	color: white;
}

/* Custom ABOUT US CSS
 * --------------------------------------- */

.content-main-div {
	width: 80vw;
	margin: 0 auto;
	padding: 75px 0;
}

p {
	font-family: var(--main-theme-font-description);
	font-size: 16px;
}

p.desc_text {
	font-size: 16px;
	line-height: 1.5;
	font-family: var(--main-theme-font-description);
}

.page_title {
	text-align: center;
}

.page_title h1 {
    font-size: 25px;
    margin: 8px auto;
    text-transform: uppercase;
    color: var(--handicraft-main-color4);
    font-family: var(--main-theme-font-titleH1);
}

.aboutUs_shortDesc {
    width: 33vw;
    text-align: center;
}

.half-aboutus-desc-img {
    height: 430px;
    padding: 0;
}

.img-team-full-div {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

.img-full-div {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.half-aboutus-desc-text {
    height: 430px;
    color: white;
    font-size: 15px;
    padding: 10vh 5vw;
    background-color: var(--handicraft-main-color5);
    font-family: var(--main-theme-font-description);
    display: table;
}

.half-aboutus-desc-text h3 {
    font-size: 17px;
    text-transform: uppercase;
    font-family: var(--main-theme-font-subtitle2);
    padding-bottom: 40px;
}

.half-aboutus-desc-text p {
    /*display: table-cell;*/
    vertical-align: middle;
}


.half-branding-desc-text {
    height: 430px;
    font-size: 15px;
    padding: 7vh 7vh 0 11vw;
    color: var(--handicraft-main-color5);
    font-family: var(--main-theme-font-description);
    display: table;
}

.half-branding-desc-text h3 {
    font-family: var(--main-theme-font-titleH2);
    text-transform: uppercase !important;
    font-weight: bolder;
    color: var(--handicraft-main-color5);
    font-size: 18px;
    padding-bottom: 40px;
}

.fullw-video-desc {
    position: absolute;
}

main div.aboutus_video_cont {
    position: inherit;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    margin-left: 14px;
    height: 75vh;
    width: 100%;
    overflow: hidden;
}

main div.aboutus_video_cont::before {
    display: block;
    position: fixed;
    background-image: linear-gradient(rgba(14, 15, 19, 0.9), rgba(21, 21, 25, 0.75));
    height: 100%;
    width: 100%;
    content: '';
}

main div.aboutus_video_cont video {
    /*height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw;
    margin-top: -1vh;*/
    height: 114%;
    width: 151.777778vh;
    margin-top: -4vh;
}

.half-video-desc-img {}

.half-video-desc-text {
	padding: 70px 130px;
}
.half-video-desc-text h3 {
    text-transform: uppercase !important;
    color: white !important;
    font-size: 18px;
    font-family: var(--main-theme-font-subtitle2);
    padding-bottom: 40px;
}
.half-video-desc-text p {
	color: white !important;
	font-weight: lighter;
	font-family: var(--main-theme-font-description);
}


.aboutus_h3 {
	text-transform: uppercase !important;
    font-weight: bolder;
    color: var(--handicraft-main-color5);
    font-size: 18px;
    font-family: var(--main-theme-font-titleH1);
    padding-bottom: 40px;
    margin: 0 auto;
}










#galleryCarousel .carousel-indicators {
    position: static;
    left: initial;
    margin-left: initial;
    width: 100%;
}

#galleryCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
    height: 60px;
    width: auto;
}

#galleryCarousel .carousel-indicators > li img {
    opacity: 0.7;
    height: 60px;
    width: auto;
}

#galleryCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
    height: 60px;
    width: auto;
}


.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    opacity: .5;
}

.carousel-control:focus, .carousel-control:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.carousel-control.left {
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0%,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0%,rgba(0,0,0,.0001) 100%);
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0%,rgba(0,0,0,.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0%,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0%,rgba(0,0,0,.5) 100%);
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0%,rgba(0,0,0,.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}




#galleryCarousel .list-inline {
        white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}


.list-inline-item:not(:last-child) {
    margin-right: 5px;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 5px;
    margin-top: 3px;
    background-color: #fff;
}

.pt-3 {
    padding-top: 30% !important;
}
